* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding-left: 29px;
  padding-right: 48px;
  background-color: #11193c;
  z-index: 15;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.09);
}

.header__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__wrapper--right {
  flex-grow: 1;
  justify-content: space-between;
  height: 60px;
}

.header__mobileMenu-wrapper {
  display: none;
}

.header__brand-wrapper {
  display: flex;
}

.header__brand--name {
  margin-left: 15px;
}
.header__brand--name span {
  font-family: "inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  color: #fff;
  user-select: none;
}

.header__slogan-wrapper {
  display: flex;
  align-items: baseline;
  color: #fff;
  margin-left: 104px;
}

.slogan__left-wrapper {
  margin-right: 14px;
}
.slogan__left-wrapper span {
  font-family: "hiragino sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

.slogan__center-wrapper span {
  font-family: "hiragino sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

.slogan__right-wrapper {
  margin-left: 7px;
}
.slogan__right-wrapper span {
  font-family: "hiragino sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

.header__func-wrapper {
  width: 285px;
  justify-content: space-between;
}

.header__noti-btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__noti-btn .count-noti {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 17px;
  height: 17px;
  background-color: #ff4b75;
  border-radius: 50%;
}
.header__noti-btn .count-noti p {
  font-family: "inter";
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  font-style: normal;
  color: #ffffff;
}

.header__user-wrapper {
  display: flex;
}

.header__logout-btn {
  height: 37px;
  width: 125px;
  color: #fff;
  border-radius: 10px;
  background-color: #2464fc;
  cursor: pointer;
}
.header__logout-btn span {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  transform: translateY(2px);
}
.header__logout-btn img {
  margin-left: 7px;
}

/* --main--- */
.main {
  background-color: #f0f4f7;
  width: 1096px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 10px;
  top: 130px;
  filter: drop-shadow(0px 0px 7.5px rgba(0, 0, 0, 0.08));
  border: 1px solid #eee;
  padding: 50px 48px;
}
.main .main__left {
  width: 650px;
  height: 630px;
}
.main .main__left .main__left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main__left .main__left-header .main__left-heading {
  color: #11193c;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}
.main .main__left .main__left-header .main__left-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 28px;
  color: #2464fc;
}
.main .main__left .main__left-container .main__left-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 35px;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post {
  display: flex;
  margin: 10px 0;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post img {
  width: 130px;
  height: 90px;
  border-radius: 4px;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post div {
  padding: 5px 4px 5px 10px;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post div span {
  display: flex;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post div span span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #495172;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #11193c;
  margin: 4px 0;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post h5 {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  color: #11193c;
}
.main .main__left .main__left-bottom .main__left-bottom-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 35px;
  display: flex;
}
.main .main__left .main__left-bottom .main__left-bottom-content p {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #495172;
}
.main .main__left .main__left-bottom .main__left-bottom-content div span {
  display: flex;
}
.main .main__left .main__left-bottom .main__left-bottom-content div span button {
  width: 70px;
  height: 22px;
  border-radius: 100px;
  background-color: #e4fcf2;
  font-size: 10px;
  font-weight: 400;
  color: #00e38c;
  border: none;
  outline: none;
}
.main .main__left .main__left-bottom .main__left-bottom-content div span h4 {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  color: #11193c;
}

#content {
  margin-top: 100px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 269px;
  padding-left: 29px;
  background: #fff;
  z-index: 10;
}

.sidebar__wrapper {
  margin-top: 156px;
}

.sidebar__func-list {
  list-style: none;
}

.sidebar__func-item + .sidebar__func-item {
  margin-top: 15px;
}

.sidebar__mainfunc-wrapper {
  padding-left: 20px;
}
.sidebar__mainfunc-wrapper.active {
  padding: 10px 0 10px 20px;
  border-color: #eeeeee;
  border-width: 1px;
  border-right-width: 0px;
  border-style: solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #f0f4f7;
  filter: drop-shadow(0px 0px 7.5px rgba(0, 0, 0, 0.08));
}

.sidebar__mainfunc-box span, .sidebar__subfunc-box span {
  font-family: "hiragino sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  margin-left: 15px;
  color: #11193c;
}

.sidebar__subfunc-wrapper {
  margin-top: 7px;
}

.sidebar__subfunc-item {
  list-style: none;
  padding: 8px 0 8px 53px;
}
.sidebar__subfunc-item + .sidebar__subfunc-item {
  margin-top: 14px;
}

.sidebar__subfunc-link {
  text-decoration: none;
}

.sidebar__func-link {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
