* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding-left: 29px;
  padding-right: 48px;
  background-color: #11193C;
  z-index: 99;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__wrapper--right {
  justify-content: space-between;
  height: 60px;
  width: 285px;
}

.header__brand-wrapper {
  display: flex;
}

.header__brand--name {
  margin-left: 15px;
}
.header__brand--name span {
  font-family: "inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  color: #fff;
  user-select: none;
}

.header__slogan-wrapper {
  color: #fff;
  margin-left: 104px;
}

.header__noti-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__logout-btn {
  color: #fff;
  border-radius: 10px;
  background-color: #2464FC;
}

/* --main--- */
.main {
  background-color: #f0f4f7;
  width: 1096px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 10px;
  top: 130px;
  filter: drop-shadow(0px 0px 7.5px rgba(0, 0, 0, 0.08));
  border: 1px solid #eee;
  padding: 50px 48px;
}
.main .main__left {
  width: 650px;
  height: 630px;
}
.main .main__left .main__left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main__left .main__left-header .main__left-heading {
  color: #11193c;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}
.main .main__left .main__left-header .main__left-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 28px;
  color: #2464fc;
}
.main .main__left .main__left-container .main__left-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 35px;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post {
  display: flex;
  margin: 10px 0;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post img {
  width: 130px;
  height: 90px;
  border-radius: 4px;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post div {
  padding: 5px 4px 5px 10px;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post div span {
  display: flex;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post div span span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #495172;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #11193c;
  margin: 4px 0;
}
.main .main__left .main__left-container .main__left-content .main__left-content-post h5 {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  color: #11193c;
}
.main .main__left .main__left-bottom .main__left-bottom-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 35px;
  display: flex;
}
.main .main__left .main__left-bottom .main__left-bottom-content p {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #495172;
}
.main .main__left .main__left-bottom .main__left-bottom-content div span {
  display: flex;
}
.main .main__left .main__left-bottom .main__left-bottom-content div span button {
  width: 70px;
  height: 22px;
  border-radius: 100px;
  background-color: #e4fcf2;
  font-size: 10px;
  font-weight: 400;
  color: #00e38c;
  border: none;
  outline: none;
}
.main .main__left .main__left-bottom .main__left-bottom-content div span h4 {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  color: #11193c;
}

#content {
  margin-top: 100px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 269px;
  padding-left: 29px;
}

/*# sourceMappingURL=index.css.map */
